<form >
  <div class="fixed form-group row" [hidden]='h_menu'>
    
      <!--  esta parte tengo que personalizar
      <label for="name"  class="col-sm-2 col-form-label">  </label>
       <div class="col-sm-10"> 
         <input type="text" name="name" [(ngModel)]="modify." class="form-control">
        </div> 
  
      <label for="capital" class="col-sm-2 col-form-label">  </label> 
      <div class="col-sm-10"> 
        <input type="text" name="capital" [(ngModel)]="modify." class="form-control"> 
      </div> 
  
       
  
       -->
      <button class="btn btn-primary" (click)='guardar()'>Guardar</button><button class="btn btn-danger" (click)='h_menu=true'>Cancelar</button>
  </div>
  </form>